<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="test" path="*.js" verb="*" type="AlfahimSupplierRegistration.MvcApplication" resourceType="File" preCondition="integratedMode" />
        </handlers>
    </system.webServer>
</configuration>
